.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    overflow: auto;
}

.input{
  box-sizing: border-box;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px !important;
  border-radius: 5px;
  background-color: #ccc;
  /* border: 1px solid #888; */
}

.select{
  box-sizing: border-box;
  width: 80%;
  padding: 10px 20px;
  margin-bottom: 10px;
}