<div class="container">
  <header>
    <h1><img class="logo" src="/assets/car.jpg" /> &nbsp;&nbsp; <span>CarDB</span></h1>
    <div class="tab-buttons">
      <mat-form-field class="search">
        <input
            matInput
            color="primary"
            placeholder="Search... [Name, Origin]"
            [formControl]="searchControl"
            class="form-control" />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="openAddCarDialog()">Add <mat-icon>add</mat-icon></button>
      &nbsp;&nbsp;
      <a mat-raised-button color="accent" [href]="downloadUrl" target="_blank">Download <mat-icon>download</mat-icon></a>
      &nbsp;&nbsp;
    </div>
  </header>

  <div class="body">
    <section>
      <table #table mat-table matSort
        [dataSource]="dataSource"
        (matSortChange)="sortEventHandler($event)">
        <ng-container
          *ngFor="let column of columnDef;"
          [matColumnDef]="column.key">
          <th mat-header-cell *matHeaderCellDef>
            <span mat-sort-header>{{ column.header }}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="column.type == 'string'; else number">
              <span *ngIf="column.key == 'name'"> {{ element[column.key] | titlecase }}</span>
              <span *ngIf="column.key == 'origin';"> {{ element[column.key] | uppercase }}</span>
            </ng-container>
            <ng-template #number>{{ element[column.key] }}</ng-template>
           </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let car">
            <div class="flexRow">
              <button mat-icon-button (click)="editCar(car)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteCar(car)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="headerDef;"></tr>
        <tr mat-row *matRowDef="let row; columns: headerDef;"></tr>
      </table>
      <span  *ngIf="dataSource.data.length == 0">
        <h2>No cars found</h2>
      </span>
    </section>

    <aside>
      <h2>Filters <button mat-raised-button style="float: right" (click)="addFilter()"><mat-icon>add</mat-icon> Add</button></h2>
      <hr>
      <div class="filter-body">
        <ng-container *ngFor="let filter of filterModel.filter;">
          <div class="flexRow flexJustifySpaceBetween flexAlignCenter">
            <div class="filter-desc">
              <strong>{{ filter.field | titlecase}}</strong><br>
              {{ filter.ops | opName}}<br>
              <strong>{{ filter.value }}</strong>
            </div>
            <button mat-icon-button color="warn" (click)="deleteFilter(filter)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </aside>
  </div>
  <footer>
    <mat-paginator
      [pageSizeOptions]="pageSizes"
      [pageSize]="pageSize"
      [length]="total"
      [pageIndex]="page"
      (page)="onPageChange($event)"></mat-paginator>
  </footer>
</div>
