header{
    background-color: #eff3f5;
    padding-left: 5px 10px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 1000;
}

header > h1{
    margin: 5px;
    font-size: 1.8em;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(107, 113, 73, 0.8);
    display: inline-flex;
    align-items: center;
    color:rgb(170, 127, 255)
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.search{
  margin-right: 15px;
  padding: 0;
  align-self: baseline;
}

.container{
  height: 100%;
}

.flexRow{
  display: flex;
  flex-direction: row;;
}

.body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // height: 100%;
  overflow: auto;
  width: 100%;
}

th{
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(45, 48, 71, 0.8);
}
td{
  border-right: 1px solid #95a6b811;
}

section{
  width: 75vw;
  overflow: auto;
  padding: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 5px
}

aside{
  width: 20vw;
  padding: 5px;
  height: 60vh;
  overflow: auto;
  margin: 5px;
}

.filter-body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 5px;
}

footer{
  background-color: #f8f9fa;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  bottom: 0;
  z-index: 1000;
}
