.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    overflow: auto;
}

.input{
  width: 350px;
  margin: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #888;
}

.select{
  box-sizing: border-box;
  width: 80%;
  padding: 10px 20px;
  margin-bottom: 10px;
}