<mat-card appearance="outlined">
  <mat-card-header class="header">
    <h1>Add Filter</h1>
  </mat-card-header>

  <mat-card-content>
    <div class="w-full min-h-64">
      <form class="form" [formGroup]="filterForm">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Select Attribute</mat-label>
          <mat-select formControlName="field">
            <mat-option *ngFor="let option of filterDef" [value]="option.key">{{ option.header| titlecase}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input" appearance="fill" *ngIf="attrSelected">
          <mat-label>Select Operator</mat-label>
          <mat-select formControlName="ops">
            <mat-option *ngFor="let op of opDef" [value]="op.key">{{ op.value| titlecase}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input" appearance="fill" *ngIf="attrSelected && opSelected">
          <mat-label>Select Attribute</mat-label>
          <input matInput formControlName="value" type="number" placeholder="Value" />
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>

  <mat-card-footer class="footer">
    <button mat-raised-button color="primary" type="submit" (click)="submit()" [disabled]="!(attrSelected && opSelected)">Add</button>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
  </mat-card-footer>
</mat-card>
